.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 345px;
}
.contents {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.nft-image {
    max-width: 300px;
    border-radius: 10px;
}

.contents ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 0;
}